<div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="card card-login card-hidden">
                <div class="card-header text-center" data-background-color="rose">
                    <h4 class="card-title">Login</h4>
                </div>
                <div class="card-content">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group label-floating">
                            <%= f.label :email,:class => "control-label"%>
                            <%= f.email_field :email, autofocus: true ,:class => "form-control"%>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <%= f.label :password ,:class => "control-label"%>
                            <%= f.password_field :password, autocomplete: "off" ,:class => "form-control"%>
                        </div>
                    </div>
                    <% if devise_mapping.rememberable? -%>
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :remember_me ,:class => "select_checkbox"%>Remember Me
                      </label>
                    </div>
                    <% end -%>
                </div>
                <div class="col-md-12 col-sm-12 footer text-center">
                    <%= f.submit "Let's go",:class => "btn btn-rose btn-block btn-wd btn-lg" %>
                </div>
                <div class="col-md-12 col-sm-12">
                <%= render "devise/shared/links" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
